h1{
    text-align: center;
}

section{
    border: 1px solid black;
    background-color: gray;
    margin:10px;
}

section>h2{
    float: right;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    margin: 0;
    font-size: 26px;
    width:25%;
    font-weight: bold;
    padding-top: 10px;
    height: 20%; 
}

section>p{
    padding: 40px 15px 15px 15px;
}

.one>h2{
    background-color: palevioletred;
}

.two>h2{
    background-color: brown;
}

.three>h2{
    background-color: burlywood;
}

@media (min-width: 768px) and (max-width: 991px ) {
    .chicken{
        width:50%;
        float: left;
    }
    .beef{
        width:50%;
        float: left;  
    }
    .sushi{
        width:100%;
        float: left;
    }    
}

@media (min-width: 992px){
    .chicken{
        width:33.33%;
        float: left;
    }
    .beef{
        width:33.33%;
        float: left;        
    }
    .sushi{
        width:33.33%;
        float: left;
    }
}

@media (max-width: 767px){
    .chicken{
        width:100%;
        float: left;
    }
    .beef{
        width:100%;
        float: left;  
    }
    .sushi{
        width:100%;
        float: left;
    }    
}

.box{
    width: 100%;
    box-sizing: border-box;
    display: block;   
}



